[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "globe"]
	path = globe
	url = https://github.com/baddstats/globe
[submodule "goftest"]
	path = goftest
	url = https://github.com/baddstats/goftest
[submodule "polyclip"]
	path = polyclip
	url = https://github.com/baddstats/polyclip
[submodule "scuba"]
	path = scuba
	url = https://github.com/cran/scuba
[submodule "spatstat.gui"]
	path = spatstat.gui
	url = https://github.com/cran/spatstat.gui
[submodule "spatstat.local"]
	path = spatstat.local
	url = https://github.com/baddstats/spatstat.local
