[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "goftest"]
	path = goftest
	url = https://github.com/baddstats/goftest
	shallow = true
	registered = true
[submodule "polyclip"]
	path = polyclip
	url = https://github.com/baddstats/polyclip
	shallow = true
	registered = true
